@charset "utf-8";

/*--------------------------------------------*/
/*Utility classes                             */
/*--------------------------------------------*/

.container {
    width: min(100% - 30px, 1200px);
    margin-inline: auto;
}

.grid {
    display: grid;
    place-items: center;
}

.flex {
    display:flex;
    align-items: center;
}

/*--------------------------------------------*/
/*Background                                  */
/*--------------------------------------------*/

body {
    background: #ff00ff;
    font-family: 'Exo 2', sans-serif;
}

/*--------------------------------------------*/
/*Main                                        */
/*--------------------------------------------*/

h2 {
    color: #fff;
    font-size: 30px;
}

.input {
    margin: 20px 0;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #fff;
    font-size: 80px;
    color:#ff00ff;
    text-align: center;
    line-height: 200px;
    cursor: not-allowed;
}

.input:focus {
    border: 2px solid #d815d8;
    transition: ease-in-out 0.25s;
}

.guess {
    margin-left:20px;
    width: 100px;
    height:50px;
    background-color: #fff;
    color: #ff00ff;
    border-radius: 10px;
    cursor: not-allowed;
}

.output {
    width:450px;
    height: 50px;
    background-color: #990099; 
    font-size: 35px;
    color:#fff;
    border-radius: 10px;
    text-align: center;
    line-height: 50px;
    cursor: not-allowed;
}

.play {
    position: fixed;
    inset: 50px 50px auto auto;
    width: 200px;
    height:50px;
    background-color: #fff;
    color:#ff00ff;
    border: 2px solid #ff00ff;
    border-radius: 10px;
    font-size: 30px;
}

.play:hover {
    background: #e4e2e2;
    transition: ease-in-out 0.25s;
}


